h1 {
    text-align: center;
    font-size: 40px;
}

h2 {
    font-size: 20px;
}
table {
    font-family: arial, sans-serif;
    /* border-collapse: collapse; */
    width: 100%;
}
th{
    font-weight: bolder;
}
tr:nth-child(even) {
    background-color: #059679;
    color: black;
}
td, th {
    border: 1px solid #dddddd;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    padding: 8px;
}