<ion-header>
  <ion-toolbar>
    <ion-title>Help Page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" color="tertiary">
<h1>Help Page</h1>
<p>Add New Car page is for addition of new cars to database. <br> 
Available car page shows you the cars which are available right now. <br>
Edit page allows you to edit,update and delete info from database. <br>
Search page allows you to Search a particular car using their Registration number. <br>
Database page shows to list of all the cars that are currently saved on database. <br>

</p>
</ion-content>
