<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <h1>Home Page</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding" color="secondary">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Car Rental Site</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="main_content">
    <h1>Car Rental Site</h1>
    <p>
      This app developed using ionic framework can be used to rent car online. It has the functionality of storing all the data while the app is running, list all the avaiable Car and avaiable cars and much more.
    </p>
    
  </div>
</ion-content>
